<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <title>Admin panel</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>

<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #3C3F42">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarText">
            <div class="p-3 mb-2 text-white col-10">
                <span class="fw-bold" th:text="${user.getEmail()}"></span>
                with roles:
                <span th:each="role : ${user.roles}" th:text="${role.getRoleName().replace('ROLE_', ' ')}"></span>
            </div>
            <div class="navbar-nav ms-auto mb-2 mb-lg-0">
                <a style="color: #808080" th:href="@{/logout}" class="nav-link">Logout</a>
            </div>
        </div>
    </div>
</nav>

<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-2" style="padding: 15px 0 0;">
            <ul class="nav nav-pills flex-column">
                <li class="nav-item" sec:authorize="hasRole('ROLE_ADMIN')">
                    <a class="nav-link active" aria-current="page" href="/admin/user">Admin</a>
                </li>
                <li class="nav-item" sec:authorize="hasRole('ROLE_USER')">
                    <a class="nav-link" aria-current="page" th:href="@{/user}">User</a>
                </li>
            </ul>
        </div>

        <div class="col-10 bg-light" style="padding: 15px 15px 15px;">
            <h1>Admin panel </h1>
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/admin/user}">Users table</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/admin/showAddNewUserForm}">New User</a>
                </li>
            </ul>

            <div class="col-10 bg-light" style="padding: 15px 15px 15px;">
                <h3>All users</h3>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Age</th>
                        <th>Email</th>
                        <th>Role</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="user : ${allUsers}">
                        <td th:text="${user.id}"></td>
                        <td th:text="${user.name}"></td>
                        <td th:text="${user.surname}"></td>
                        <td th:text="${user.age}"></td>
                        <td th:text="${user.email}"></td>
                        <td>
                        <span th:each="role : ${user.roles}"
                              th:text="${role.getRoleName().replace('ROLE_', ' ')}"></span>
                        </td>


                        <!--modal edit-->


                        <td>
                            <a class="btn btn-info text-white" data-bs-toggle="modal"
                               th:href="${'#editModal'+ user.getId()}">Edit</a>
                            <div class="modal fade" th:id="${'editModal'+ user.getId()}" tabindex="-1"
                                 aria-labelledby="editModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="editModalLabel">Edit user</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                    aria-label="Close"></button>
                                        </div>

                                        <div class="modal-body d-flex justify-content-center">
                                            <form class="form w-50 mt-4 mb-4" th:method="POST"
                                                  th:action="@{/admin/saveEditUser}" th:object="${user}"
                                                  th:id="${'formEdit'+ user.getId()}">
                                                <input type="hidden" th:name="id" th:value="${user.getId()}">

                                                <div class="row mb-2">
                                                    <label class="form-label d-flex justify-content-center fw-bold fs-5 mb-0"
                                                           for="idUpdate">ID</label>
                                                    <input class="form-control d-flex justify-content-center"
                                                           type="text" disabled th:name="id" th:value="${user.getId()}"
                                                           id="idUpdate">
                                                </div>

                                                <div class="row mb-2">
                                                    <label class="form-label d-flex justify-content-center fw-bold fs-5 mb-0"
                                                           for="nameUpdate">First name</label>
                                                    <input class="form-control d-flex justify-content-center"
                                                           type="text" th:name="name" th:value="${user.getName()}"
                                                           id="nameUpdate">
                                                </div>

                                                <div class="row mb-2">
                                                    <label class="form-label d-flex justify-content-center fw-bold fs-5 mb-0"
                                                           for="lastnameUpdate">Last name</label>
                                                    <input class="form-control d-flex justify-content-center"
                                                           type="text" th:name="surname" th:value="${user.getSurname()}"
                                                           id="lastnameUpdate">
                                                </div>

                                                <div class="row mb-2">
                                                    <label class="form-label d-flex justify-content-center fw-bold fs-5 mb-1"
                                                           for="ageUpdate">Age</label>
                                                    <input class="form-control d-flex justify-content-center"
                                                           type="number" th:name="age" th:value="${user.getAge()}"
                                                           id="ageUpdate">
                                                </div>

                                                <div class="row mb-2">
                                                    <label class="form-label d-flex justify-content-center fw-bold fs-5 mb-1"
                                                           for="emailUpdate">Email</label>
                                                    <input class="form-control d-flex justify-content-center"
                                                           type="text" th:name="email" th:value="${user.getEmail()}"
                                                           id="emailUpdate" required>
                                                </div>

                                                <div class="row mb-2">
                                                    <label class="form-label d-flex justify-content-center fw-bold fs-5 mb-1"
                                                           for="passwordUpdate">Password</label>
                                                    <input class="form-control d-flex justify-content-center"
                                                           type="password" id="passwordUpdate" th:name="password"
                                                           value="">
                                                </div>

                                                <div class="row mb-2">
                                                    <label class="form-label d-flex justify-content-center fw-bold fs-5 mb-1"
                                                           for="selectUpdateRole">Role</label>
                                                    <select class="form-select" aria-label="Default select" name="roles"
                                                            size="2" multiple id="selectUpdateRole">
                                                        <option th:each="role : ${roles}"
                                                                th:text="${role.getRoleName().replace('ROLE_', ' ')}"
                                                                th:value="${role.id}"></option>
                                                    </select>
                                                </div>
                                            </form>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                                Close
                                            </button>
                                            <input th:form="${'formEdit'+ user.getId()}" class="btn btn-primary"
                                                   type="submit" value="Edit">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>


                        <!--delete edit-->


                        <td><a class="btn btn-danger" data-bs-toggle="modal"
                               th:href="${'#delModal'+ user.getId()}">Delete</a>
                            <div class="modal fade" th:id="${'delModal'+ user.getId()}" tabindex="-1"
                                 aria-labelledby="delModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="delModalLabel">Delete user</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                    aria-label="Close"></button>
                                        </div>

                                        <div class="modal-body d-flex justify-content-center">
                                            <form class="form w-50 mt-4 mb-4" th:method="GET"
                                                  th:action="@{/admin/deleteUser}"
                                                  th:object="${user}"
                                                  th:id="${'formDel'+ user.getId()}">
                                                <input type="hidden" th:name="id" th:value="${user.getId()}">

                                                <div class="row mb-2">
                                                    <label class="form-label d-flex justify-content-center fw-bold fs-5 mb-0"
                                                           for="idDel">ID</label>
                                                    <input class="form-control d-flex justify-content-center"
                                                           type="text"
                                                           th:name="id" th:value="${user.getId()}" id="idDel" disabled>
                                                </div>

                                                <div class="row mb-2">
                                                    <label class="form-label d-flex justify-content-center fw-bold fs-5 mb-0"
                                                           for="nameDel">First name</label>
                                                    <input class="form-control d-flex justify-content-center"
                                                           type="text"
                                                           th:name="name" th:value="${user.getName()}" id="nameDel"
                                                           disabled>
                                                </div>

                                                <div class="row mb-2">
                                                    <label class="form-label d-flex justify-content-center fw-bold fs-5 mb-0"
                                                           for="lastnameDel">Last name</label>
                                                    <input class="form-control d-flex justify-content-center"
                                                           type="text"
                                                           th:name="surname" th:value="${user.getSurname()}"
                                                           id="lastnameDel" disabled>
                                                </div>

                                                <div class="row mb-2">
                                                    <label class="form-label d-flex justify-content-center fw-bold fs-5 mb-0"
                                                           for="ageDel">Age</label>
                                                    <input class="form-control d-flex justify-content-center"
                                                           type="number"
                                                           th:name="age" th:value="${user.getAge()}"
                                                           id="ageDel" disabled>
                                                </div>

                                                <div class="row mb-2">
                                                    <label class="form-label d-flex justify-content-center fw-bold fs-5 mb-1"
                                                           for="emailDel">Email</label>
                                                    <input class="form-control d-flex justify-content-center"
                                                           type="text"
                                                           th:name="email" th:value="${user.getEmail()}" id="emailDel"
                                                           disabled>
                                                </div>

                                                <div class="row mb-2">
                                                    <label class="form-label d-flex justify-content-center fw-bold fs-5 mb-1"
                                                           for="selectDelRole">Role</label>
                                                    <select class="form-select" aria-label="Default select" name="roles"
                                                            size="2" multiple id="selectDelRole" disabled>
                                                        <option th:each="role : ${roles}"
                                                                th:text="${role.getRoleName().replace('ROLE_', ' ')}"
                                                                th:value="${role.id}"></option>
                                                    </select>
                                                </div>
                                            </form>
                                        </div>

                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                                Close
                                            </button>
                                            <input th:form="${'formDel'+ user.getId()}" class="btn btn-danger"
                                                   type="submit"
                                                   value="Delete">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
</body>